.mui-segmented-control .mui-control-item.mui-active {
    color: #fff;
    background-color: #0055ab;
}
.mui-segmented-control {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #0055ab;
    border-radius: 3px;
    background-color: transparent;
    -webkit-touch-callout: none;
}
.mui-segmented-control .mui-control-item {
    line-height: 38px;
    display: table-cell;
    overflow: hidden;
    width: 1%;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #0055ab;
    border-color: #0055ab;
    border-left: 1px solid #0055ab;
}